$userAvatarSize: 46px;
$userAvatarCommentSize: 32px;
$sliderDotsHeight: 25px;
// color
$blue: #00376b;

// style
$tagBorderRadius: 4px;
// common mixin
@mixin max-5-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}

@mixin ripple {
  transform: scale(0);
  animation: ripple 600ms linear;
}

// animation
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
